<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="5.3.0" targetFramework="wp8" />
  <package id="Acr.XamForms.UserDialogs" version="5.0.0" targetFramework="wp8" />
  <package id="Microsoft.Azure.Mobile.Client" version="3.0.1" targetFramework="wp8" />
  <package id="Microsoft.Azure.Mobile.Client.SQLiteStore" version="3.0.1" targetFramework="wp8" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="wp8" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="wp8" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="wp8" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="wp8" />
  <package id="PCLStorage" version="1.0.2" targetFramework="wp8" />
  <package id="Splat" version="1.6.2" targetFramework="wp8" />
  <package id="SQLitePCL" version="3.8.7.2" targetFramework="wp8" />
  <package id="SQLitePCLRaw.bundle_green" version="1.0.0" targetFramework="wp8" />
  <package id="SQLitePCLRaw.core" version="1.0.0" targetFramework="wp8" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_wp80" version="1.0.0" targetFramework="wp8" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.wp80" version="1.0.0" targetFramework="wp8" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp8" />
  <package id="Xam.Plugin.Media" version="2.3.0" targetFramework="wp8" />
  <package id="Xam.Plugins.Notifier" version="2.0.2" targetFramework="wp8" />
  <package id="Xam.Plugins.Settings" version="2.1.0" targetFramework="wp8" />
  <package id="Xamarin.Forms" version="2.3.0.107" targetFramework="wp8" />
</packages>